 :root {
     --bg-color: rgb(255, 255, 255);
     --text-color: rgb(0, 0, 0);
     --grid-bg: rgb(245, 245, 245);
     --grid-border: rgb(200, 200, 200);
     --cell-odd: rgb(240, 240, 255);
     --cell-even: rgb(220, 220, 255);
     --header-bg: rgba(70, 130, 180, 1);
     --header-text: white;
     --table-bg: rgba(100, 100, 255, .1);
     --table-border: rgb(150, 200, 255);
     --selected-border: rgb(100, 100, 100);
     --selected-shadow: rgb(50, 50, 50);
     --thead-bg: rgba(200, 200, 255, 0.5);
     --code-bg: rgb(255, 255, 255);
     --code-text: rgb(0, 0, 0);
 }

 @media (prefers-color-scheme: dark) {
     :root {
         --bg-color: rgb(10, 10, 10);
         --text-color: rgb(255, 255, 255);
         --grid-bg: rgb(10, 10, 10);
         --grid-border: rgb(10, 10, 10);
         --cell-odd: rgb(30, 30, 60);
         --cell-even: rgb(20, 20, 40);
         --header-bg: rgba(70, 70, 150, 1);
         --header-text: white;
         --table-bg: rgba(100, 100, 255, .1);
         --table-border: rgb(150, 200, 255);
         --selected-border: rgb(100, 100, 100);
         --selected-shadow: rgb(50, 50, 50);
         --thead-bg: rgba(200, 200, 255, 0.5);
         --code-bg: rgb(30, 30, 30);
         --code-text: rgb(255, 255, 255);
     }
 }

 body {
     background: var(--bg-color);
     color: var(--text-color);
 }

 * {
     box-sizing: border-box;
 }

 .grid {
     display: grid;
     grid-template-columns: auto;
     grid-template-rows: 100px auto;
     gap: 3px 1px;
     background: var(--grid-bg);
     width: fit-content;
     height: fit-content;
     border: 5px solid var(--grid-border);
 }

 .grid .cell.row-odd {
     background: var(--cell-odd);
 }

 .grid .cell.row-even {
     background: var(--cell-even);
 }

 .grid .cell.header {
     justify-self: stretch;
     align-self: stretch;
     font-weight: bold;
     color: var(--header-text);
     background-color: var(--header-bg);
     width: 100%;
     height: 100%;
     display: grid;
     grid-template-columns: auto;
     grid-template-rows: auto;
     padding: 5px;
 }

.grid .cell.header span {
    justify-self: center;
    align-self: center;
}

.grid .cell {
    justify-self: stretch;
    align-self: stretch;
}

.grid .cell {
    position: relative;
}

.grid .cell[selected="1"]::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    box-shadow: inset 0px 0px 0em 4px rgb(0, 0, 0, 0.5);
    pointer-events: none;
}

.grid .cell[selected="2"]::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    box-shadow: inset 0px 0px 0em 6px rgb(0, 0, 0, 0.75);
    pointer-events: none;
}

pre {
    margin: 0px;
}

code.hljs {
    height: 100%;
}



 table {
     background-color: var(--table-bg);
     border-collapse: collapse;
 }

 tr {
     border: 0.1em solid var(--table-border);
 }

 th,
 td {
     border-left: 0.1em solid var(--table-border);
 }

 td[selected="1"] {
     border: 0.1em solid var(--selected-border);
     box-shadow: inset 0px 0px 0.5em 0px var(--selected-shadow);
 }

 td[selected="2"] {
     border: 0.1em solid rgb(0, 0, 0);
     box-shadow: inset 0px 0px 0.5em 0px rgb(0, 0, 0, 1);
 }

 thead {
     background-color: var(--thead-bg);
 }

 element-contextmenu {
     z-index: 1000;
 }

 widget-code {
     background: transparent;
 }